.path-bibcite .bibcite-reference-form .field--name-html-title .filter-wrapper,
.field--name-html-abstract .filter-wrapper {
  display: none;
}
.os-author-parse-info {
  font-size: 14px;
  margin-top: 4px;
}
.os-author-parse-info strong {
  margin-left: 5px;
}
.os-author-parse-info strong:first-child {
  margin-left: 0;
}
