/**** tabs widget ****/
/**** code needs to be replaced with d8 structure ****/
.ui-tabs .ui-tabs-nav li a {
  text-transform: capitalize;
  font-size: 14px;
}
.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a {
  border-bottom-width: 1px;
  color: $color-white;
}
 .block--type-tabs {
  .nav-tabs {
    border-bottom: 0;
    >li {
      &.active {
        a {
          color: $color-white;
          border-bottom-width: 1px;
        }
      }
      a {
        font-size: 14px;
        text-transform: capitalize;
      }
    }
  }
}
