/**** tabs widget ****/
 .block--type-tabs {
  .nav-tabs {
    border-bottom: 0;
    >li {
      &.active {
        a {
          color: $color-white;
          border-bottom-width: 1px;
          background: $color-red2;
        }
      }
      a {
        font-size: 14px;
        text-transform: capitalize;
      }
    }
  }
}
