.calendar.node--calendar {
  .event-start {
    @extend %extend_1;
    span {
      font-weight: normal;
      &.event-start-month {
        color: $black;
      }
      &.event-year {
        padding: 8px 0 0;
      }
    }
  }
}
