footer.footer {
  background: $color_rangoon_green_approx;
  color: $white;
  a {
    color: $white;
  }
  strong {
    color: $white;
  }
  ul.nav {
    a {
      @extend %font;
    }
    li {
      a {
        text-transform: none;
      }
    }
  }
}
#branding_footer {
  background: $color_tundora_approx;
}
