.block--type-section-navigation {
  .block-content {
    ul {
      ul {
        li {
          padding: 0.2em 0 0.2em 1em;
        }
      }
      .active-nav-link {
        > a {
          color: black;
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }
}
