/**** gallery grid ****/
.block--type-media-gallery {
  .field--name-field-gallery-media {
    .field--items {
      display: flex;
      flex-wrap: wrap;
      .field--item {
        padding: 4px;
        width: 20%;
        img {
          width: 100%;
        }
        @media #{$mobile} {
          width: 33.33%;
        }
      }
    }
  }
}
/**** light box caption ****/
.slick-lightbox-slick-caption {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
/*** media gallery carousel ****/
.slick--optionset--slick-media-gallery {
  .slide__content {
    margin: 0 5px;
  }
  .slick-list {
    margin: 0 20px;
  }
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -12px;
  }
  .slide__caption {
    display: none;
  }
  .slick-arrow {
    &:before {
      color: $color-gray6;
      opacity: 1;
    }
  }
}
.slick-arrow {
  z-index: 9;
}
/**** slick lightbox arrow ****/
.slick-lightbox {
  .slick-arrow {
    z-index: 9;
    color: $color-white;
    background: $color-black;
    &:hover {
      &:before {
        color: $color-white;
      }
    }
  }
}
