/**** code for mini pager ****/
.pager {
  .next, .previous {
    > a, > span {
      float: none;
      border-radius: 0;
      font-weight: bold;
      font-size: 18px;
      padding: 5px 10px;
    }
  }
}
.pager-mini {
  text-align: center;
  li {
    display: inline;
    padding: .7em;
    &.current {
      font-weight: bold;
    }
  }
}
/**** full pager ****/
@include pager($color-link1);
