.rss-feed-link,
.feed-icons a {
  display: flex;
  &:before {
    content: "";
    background: url(../../../themes/os_base/images/rss.png);
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}
/**** rss feed page ****/
.rss-feed-section {
  .feed-title {
    margin-top: 15px;
  }
  .item-list {
    margin: 0;
  }
  .feed-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      &:before {
        background: url(../../../themes/os_base/images/scholarbase-sprite.png) 0 -756px no-repeat;
        content: "";
        padding-left: 21px;
      }
    }
  }
}
