.os-theme-preview-preview-action {
  position: fixed;
  width: 380px;
  height: 100px;
  right: 0;
  top: 50px;
  z-index: 1040;
  background: $color-light-gray9;
  padding: 20px;
  border: 1px solid $color-light-gray10;
}
