.twitter-pull-item {
  border-bottom: 1px solid $color-light-gray16;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  .tweet-authorphoto {
    float: left;
    margin: 0 5px 0 0;
  }
  .tweet-author {
    font-weight: bold;
  }
}
