.block-place-region.region.region-footer-bottom.ui-sortable {
  position: fixed;
  left: 0px;
  top: 25px;
  outline: 0;
  box-shadow: none;
  background: $color-light-gray9;
  padding: 10px;
  border: 1px solid $color-light-gray10;
  transition: top .3s ease;
  width: 240px;
  z-index: 1035;
  height: calc(100% - 40px);
  font-family: Arial, Helvetica, sans-serif;
  &:after {
    content: "";
  }
  label {
    margin: 10px 0 0 0;
    color: $color-gray5;
  }
  .toolbar-horizontal.toolbar-tray-open & {
    top: 64px;
    #block-place-widget-selector-wrapper {
      height: calc(100vh - 260px);
    }
  }
  .select-wrapper {
    z-index: 0;
  }
  .form-submit {
    span.icon {
      color: $color-white;
    }
  }
}
#block-place-context-selector-wrapper {
  margin-bottom: 15px;
  label {
    margin: 0;
  }
}
#block-place-widget-selector-wrapper {
  padding: 0px;
  background: $color-light-gray9;
  border: 0;
  color: $color-gray5;
  height: calc(100vh - 230px);
}
#block-list {
  background-color: $color-white;
  border: 1px solid $color-light-gray10;
  height: calc(100% - 170px);
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  color: $color-black;
  padding: 10px;
  .block.ui-sortable-handle {
    border-bottom: 1px solid $color-light-gray10;
    padding: 5px 0;
  }
}
#factory-wrapper {
  background-color: $color-light-gray9;
  z-index: 999;
  overflow-y: scroll;
  .close {
    float: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: $color-link1;
    text-shadow: none;
    filter: alpha(opacity=1);
    opacity: 1;
    font-family: arial;
    position: absolute;
    right: 12px;
    top: 7px;
  }
}
#block-place-actions-wrapper {
  position: relative;
  button {
    margin-right: 10px;
  }
}
.close-widget {
  text-align: right;
  width: 100%;
}
#block-place-widget-selector-wrapper {
  a,
  a:hover {
    color: $color-gray5;
    text-decoration: none;
  }
  h3 {
    font-size: 1em;
    cursor: pointer;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form-type-textfield {
    margin-bottom: 0;
  }
  #factory-wrapper {
    ul.links {
      list-style-type: none;
      margin-left: 4px;
      margin-top: 10px;
      li {
        padding: .5em 0;
        display: block;
        // needs to replace with sprite
        a {
          &:before {
            content: "";
            background: url(../../../themes/os_base/images/widgets/widgets-icon.png) no-repeat;
            height: 21px;
            width: 21px;
            position: absolute;
            left: 7px;
            background-position: -23px -1028px;
          }
        }
        &.addthis {
          a {
            &:before {
              background-position: -20px -854px;
            }
          }
        }
        &.basic {
          a {
            &:before {
              background-position: -20px -794px;
            }
          }
        }
        &.custom-text-html {
          a {
            &:before {
              background-position: -20px -554px;
            }
          }
        }
        &.embed-media {
          a {
            &:before {
              background-position: -20px -374px;
            }
          }
        }
        &.publication-types {
          a {
            &:before {
              background-position: -20px -914px;
            }
          }
        }
        &.featured-posts {
          a {
            &:before {
              background-position: -20px -674px;
            }
          }
        }
        &.media-gallery {
          a {
            &:before {
              background-position: -20px -374px;
            }
          }
        }
        &.publication-years {
          a {
            &:before {
              background-position: -20px -734px;
            }
          }
        }
        &.rss-feed {
          a {
            &:before {
              background-position: -20px -314px;
            }
          }
        }
        &.taxonomy {
          a {
            &:before {
              background-position: -20px -76px;
            }
          }
        }
        &.twitter-feed {
          a {
            &:before {
              background-position: -20px -194px;
            }
          }
        }
        &.follow-me {
          a {
            &:before {
              background-position: -20px -614px;
            }
          }
        }
        &.mailchimp-subscription {
          a {
            &:before {
              background-position: -20px -434px;
            }
          }
        }
        &.publication-authors {
          a {
            &:before {
              background-position: -20px -20px;
            }
          }
        }
        &.slideshow, &.slider {
          a {
            &:before {
              background-position: -20px -134px;
            }
          }
        }
        &.tabs {
          a {
            &:before {
              background-position: -20px -254px;
            }
          }
        }
        &.list-of-posts, &.list-of-files {
          a {
            &:before {
              background-position: -20px -494px;
            }
          }
        }
        &.dataverse-dataset, &.dataverse-list, &.dataverse-search-box, &.dataverse-dataset-citation {
          a {
            &:before {
              background-position: -23px -970px;
            }
          }
        }
      }
    }
  }
}
/**** code added for widgets type ****/
.modal {
  .modal-body {
    form.block-content-form {
      fieldset {
        padding: 10px;
        legend {
          float: left;
          width: 100%;
        }
      }
    }
    .tabbable {
      margin-top: 20px;
    }
    form.block-publication-types-form {
      fieldset {
        .form-type-checkbox {
          margin: 0;
          float: left;
          width: 50%;
        }
        .description.full {
          clear: both;
        }
      }
    }
  }
  ~ .modal {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
  }
  .ui-dialog.media-wrapper {
    position: relative;
    max-width: 100%;
    .mb-preview img {
      max-width: 100%;
    }
  }
}
.modal-content {
  margin: auto;
  max-width: 600px;
  &.widget-popup {
    max-width: none;
  }
}
.modal-dialog {
  width: auto;
}
/**** widget dropbutton ****/
.layout {
  .paragraphs-dropbutton-wrapper {
    .dropbutton {
      display: flex;
      li {
        list-style-type: none;
        margin-left: 5px;
      }
    }
  }
}
