.calendar.node--calendar {
  .event-start {
    border: 1px solid $color-gray;
    border-top: 3px solid $color_red_stage_approx;
    background: $white;
    span {
      font-weight: normal;
      &.event-start-month {
        color: $color_fuscous_gray_approx;
      }
      &.event-start-day {
        color: $color_fuscous_gray_approx;
      }
    }
  }
}
