{#
/**
 * @file
 * Template for Mailchimp subscription link type widget.
 *
 * - link_url: Subscription link to open subscription form in a modal.This link
 * is a dynamically generated link. It contains the mailling list_id and it
 * passes that list_id to the subscription form.
 *
 * - subscribe_text: Subscription text.
 */
#}
<a class="use-ajax btn btn-default" data-dialog-type= 'modal' href="{{ link_url }}">{{ subscribe_text|default('Subscribe to list!')|t }}</a>
