{% set class = display_social ? '': 'no-label' %}

<div class="rrssb {{ class}}">
  {% if profile_links %}
    <ul class="rrssb-buttons">
      {% for link in profile_links %}
        <li class="rrssb-{{ link.domain }}">
          <a href ="{{link.title}}" target="_blank">
            <span class="rrssb-icon"></span>
            <span class="rrssb-text">{{ link.domain }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>