html,
body {
  background: $color-white;
  color: $color-gray;
  font-family: 'Source Sans Pro', sans-serif;
}
a, a:visited {
  color: $color-link;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}
