/**** code for upcoming/past events sheilds ****/
.calendar.node--calendar {
  .event-start {
    background: $color-white;
    border: 1px solid $color-gray2;
    border-radius: 7px;
    width: 60px;
    span {
      &.event-year {
        padding: 14px 0 0;
      }
      &.event-start-month {
        color: $color-black;
      }
    }
  }
}
