@mixin navchildpadding() {
  @for $i from 3 through 10 {
    $sel: if($i == 3, ".navbar-collapse .navbar-nav ul.dropdown-menu", selector-nest($sel, "ul")) !global;
    #{$sel} {
      li {
        a {
          padding-left: 10px * $i;
        }
      }
    }
  }
}
@mixin taxonomychildpadding() {
  @for $i from 1 through 10 {
    $sel: if($i == 1, ".os-widgets-taxonomy-display-type-menu-item", selector-nest($sel, ".item-list"));
    #{$sel} {
        a, .term-description {
          padding-left: 10px * $i;
        }
    }
  }
}
