.path-person {
  .person--title h1 {
    font-weight: bold;
  }
}
.person-data h2.block-title {
  font: bold 16px/24px arial, sans-serif;
  margin-bottom: 24px;
  background: $color-light-gray3;
  padding: 6px 15px;
  box-shadow: 0px 1px 0px 1px $color-light-gray1;
  border-top: 1px solid $color-light-gray1;
  border-radius: 2px;
}
