/** global styles **/
.media-browser-drop-box {
  a[mb-open-modal] {
    background: $color_fuscous_gray;
  }
}
.content-header {
  background-color: $color-white;
  color: $color_fuscous_gray;
}
/**** cp add user popup ****/
.add-user-dialog {
  top: 50px !important;
}
/**** media page ****/
td.manage-media {
  a {
    &:first-child {
      margin-right: 10px;
    }
  }
}
.chosen-container-multi {
  .chosen-drop {
    .result-selected {
      color: $color-text;
    }
  }
}
.group-role-add-form, .group-role-edit-form {
  .machine-name-label, .machine-name-value, .admin-link {
    display: none;
  }
}
