footer {
  color: $white;
  background-color: $color_cloud_burst_approx;
  a {
    font-family: $font_3, $font_4;
    color: $white;
  }
  ul.nav {
    a {
      font-family: $font_3, $font_4;
    }
  }
}
.block-system-powered-by-block {
  .block-content {
    > a{
      text-shadow: none;
    }
  }
}
